extend base
block  content
  .user-container.profile
    //-   p Name :#{user.name}
    //-   p Email:#{user.email}
    h2 CREATE PLAN
    h2 DELETE PLAN
    h2 UPDATE PLAN
    h2 GET ALL PLANS
        